#diagnosisReady{
  z-Index: 2;
}

#btnMakeReport:hover{
  background-color: #0189a0;
}
#btnMakeReport{
  position: absolute;
  top: 24.5vw;
  width: 12vw;
  left: 15vw;
  height: 2vw;
  padding-top: 0.2vw;
  float: none;
  color: white;
  background-color: #104161;
  border-radius: 0.5vw;
  text-align: center;
  font-size:90%;
  cursor: pointer;
}
#btnMakeReport:active {
  background-color: #104161;
  transform: translateY(0.2vw);
}

#diagnosisBox{
  height: 6vw;
  width: 36vw;
}
#diagnosisBoxTag{
  margin-top: 2vw;
}

#d_anormal, #d_normal{
  height: 1vw;
  width: 1vw;
  margin-top: 1.5vw;
}
#selectDiagnosis{
  margin-left: 2vw;
  width: 16vw;
  color: gray;
  pointer-events: none;
}
#d_title{
  font-weight: bold;
  font-size: 1.3vw;
}
