:root {
  --main: #104161;
  --second: #2495e0;
}

#galleryPrev, #galleryNext{
  position: absolute;
  width: 2vw;
  height: 4vw;
  top: 6.3vw; 
}

#galleryPrev{
  left: 2vw;
  width: 0; 
  height: 0; 
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent; 
  border-right: 2vw solid var(--second); 
}

#galleryNext{
  right: 2vw;
  width: 0; 
  height: 0; 
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 2vw solid #2495e0;
}

#img1, #img2, #img3{
  position: absolute;
  width: 10vw;
  top: 4.25vw;
  object-fit: cover;
}
#img1{
  left: 5vw;
}
#img2{
  left: 16vw;
}
#img3{
  left: 27vw;
  margin-right: 0.4vw;
}

#deletePhoto, #keepPhoto{
  position: absolute;
  width: 1.8vw;
  height: 1.8vw;
  top: 31.8vw;
}

#deletePhoto{
  left: 20.1vw;
}

#logoCtrlPhoto{
  position: relative;
  height: 100%;
}
#displayedImg, #divNoPhoto{
  position: absolute;
  margin: auto;
  width: 23vw;
  padding: 1vw;
  display: block;
  top: 14vw; 
  left: 9.5vw;
  font-style: italic;
}
#divNoPhoto{
  border: 1px solid black;
  height: 17.25vw;
  text-align: center;
}
#divNoPhotoInside{
  position: relative;
  top: 6.2vw;
  font-size: 1.2vw;
}
.tableDefault{
  z-index: 5;
}

#modalBtn{
  display: none;
}
#errorBox{
  width: 20vw;
  height: 50vw;
}
